html {
  height: 100%;
  width: 100%;
}

#h {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 350px;
  font-size: 500%;
}

#submit {
  margin-top: 3%;
}

#deleteBtn {
  margin-top: 3%;
}